{{ partial "header.html" . }}
	<main>
		<section id="intro">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-lg-8 major">
                        <h1 class="hi">Figuring out your true passion can be confusing.</h1>
                        <h2 class="more">
                            We're here to help you.
                        </h2>
                        <h2 class="grey">
                            Project Element is an initiative by the students of the MIS Batch of 2019.
                        </h2>
						<a href="{{ .Site.BaseURL }}/fields" class="button cta">Learn More</a>
						<a href="aaaaa" class="button mar">Register</a>
                    </div>
                </div>

            </div>
        </section>

        <section id="reading" class="home-section grey">
        <div class="centered container large">
                    <div class="row">
                        <div class="img-col col-xs-12 col-md-12" style="position: relative;padding-bottom: 40%; /* 16:9 */ margin-top: 50px;padding-top: 25px;height: 0; text-align: center;">
                            <iframe src="https://player.vimeo.com/video/127688038?color=e0e0e0&amp;title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" style="position: absolute;top: 0;left: 5%;width: 90%;height: 90%;"></iframe>
                        </div>
                    </div>
                </div>
            </section>


        <section id="reading" class="home-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-lg-6 about">
                        <h1 class="home-section-heading">About</h1>
                        <p><i>“What do you want to be when you grow up?”</i></p>
                        <p>As children, we all have simple ideas of what we want to do in life. Somewhere along the way, these dreams are compressed, twisted and processed into something very different. You are designed for a purpose. You show both a natural inclination towards it and a liking for it, and while doing it you maximize your capacity for brilliance.</p>

                        <p>Project Element is an attempt to help you find your calling, and thereby yourself. Through Project Element, we hope to show you why and how we chose our fields of interest and, in the process, help you discover the same.</p>
                    </div>

                    <div class="col-xs-12 col-md-8 col-lg-6 about">
                        <h1 class="home-section-heading">How it Works</h1>
                        <p>For each of 15 chosen fields, we will provide recommended viewing lists and reading material for further exploring the subject matter. The students will be able to reach out to the mentors during and after the sessions.</p>

                        <p>From 17th to 26th June, we will be conducting physical workshops for each of these fields for students of classes 8 and 9. These will be held in The Mother’s International School.</p>
                    </div>
                </div>
            </div>
        </section>
	</main>
{{ partial "footer.html" . }}
