{{ partial "header.html" . }}
	<main>
		<section id="intro" class="project-intro">
					<div class="container">
							<div class="row">
									<div class="col-xs-12 col-md-8 col-lg-8 major">
											<h1 class="hi">{{ .Title }}</h1>
											<h2 class="more">
													We're here to help you.
											</h2>
											{{ range .Params.intro }}
											<h2 class="grey">
													{{ . }}
											</h2>
											{{ end }}
									</div>
							</div>


					</div>
	    </section>
		<article>
			<section id="project-content" class="grey">
		        <div class="container">
		            <div class="row">
		                <div class="col-xs-12 col-md-8 col-lg-6 centered">
		                    {{ .Content }}
		                </div>
		            </div>
		        </div>
		    </section>
		</article>
	</main>
{{ partial "footer.html" . }}
