{{ partial "header.html" . }}
	<main>

    <section id="intro">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-lg-8 major">
                        <h1 style="font-family: Europa; font-size: 2.25em;">Contact</h1>
                        <p style="font-family: 'EB Garamond';">
                            Incase of any queries please don't hesitate to contact us!
                        </p>
                    </div>
                </div>
            </div>
        </section>

		<article>
      <section class="home-section grey" id="schedule">
            <div class="container">
                <div class="row">
                  <p>You can write to us at projectelementmis@gmail.com to which we usually respond within twenty-four hours. Alternatively, you can reach out to us on <a href="https://www.instagram.com/projectelementmis/">Instagram</a>!</p>
                </div>
            </div>
        </section>
		</article>
	</main>
{{ partial "footer.html" . }}
