{{ partial "header.html" . }}
	<main>

    <section id="intro">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-lg-8 major">
                        <h1 style="font-family: Europa; font-size: 2.25em;">Schedule</h1>
                        <p style="font-family: 'EB Garamond';">
                            Given below is the schedule of the event. Incase of any queries please refer to the FAQs section.
                        </p>
                        <a href="../img/pe/schedule.pdf" class="button cta">Schedule PDF</a>
                    </div>
                </div>

            </div>
        </section>

		<article>
      <section class="home-section grey" id="schedule">
            <div class="container">
                <div class="row">
                  <div class="col-md-4 table-parent">
                    <h2>17th to 19th June</h2>
                    <table class="schedule" cellpadding="1">
                    <tbody>
                    <tr>
                    <th>Field</th>
                    <th>Venue</th>
                    </tr>
                    <tr>
                    <tr>
                    <td>Art & Design</td>
                    <td>AV</td>
                    </tr>
                    <tr>
                    <td>Law</td>
                    <td>Lab 2</td>
                    </tr>
                    <tr>
                    <td>Mathematics</td>
                    <td>Lab 4</td>
                    </tr>
                    <tr>
                    <td>Writing and Journalism</td>
                    <td>Lab 3</td>
                    </tr>
                    <tr>
                    <td>Engineering</td>
                    <td>Lab 1</td>
                    </tr>
                    </tbody>
                    </table>
                  </div>
                  <div class="col-md-4 table-parent">
                    <h2>20th to 22nd June</h2>
                    <table class="schedule" cellpadding="1">
                    <tbody>
                    <tr>
                    <th>Field</th>
                    <th>Venue</th>
                    </tr>
                    <tr>
                    <tr>
                    <td>Performing Arts</td>
                    <td>Hall of Grace</td>
                    </tr>
                    <tr>
                    <td>Political Science</td>
                    <td>Lab 1</td>
                    </tr>
                    <tr>
                    <td>Physics</td>
                    <td>Lab 4</td>
                    </tr>
                    <tr>
                    <td>Entrepreneurship</td>
                    <td>Lab 3</td>
                    </tr>
                    <tr>
                    <td>Biology/Medicine</td>
                    <td>Lab 2</td>
                    </tr>
                    </tbody>
                    </table>
                  </div>
                  <div class="col-md-4 table-parent">
                    <h2>24th to 26th June</h2>
                    <table class="schedule" cellpadding="1">
                    <tbody>
                    <tr>
                    <th>Field</th>
                    <th>Venue</th>
                    </tr>
                    <tr>
                    <tr>
                    <td>Photography</td>
                    <td>Lab 3</td>
                    </tr>
                    <tr>
                    <td>Psychology</td>
                    <td>Lab 2</td>
                    </tr>
                    <tr>
                    <td>Technology</td>
                    <td>Lab 4</td>
                    </tr>
                    <tr>
                    <td>Culinary Arts</td>
                    <td>Home Science Lab</td>
                    </tr>
                    <tr>
                    <td>Economics</td>
                    <td>Lab 1</td>
                    </tr>
                    </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">

                  </div>
                  <div class="col-md-6 table-parent">
                    <h2>Sessions</h2>
                    <table class="schedule" cellpadding="1">
                    <tbody>
                    <tr>
                    <th>Time</th>
                    <th>Activity</th>
                    </tr>
                    <tr>
                    <td>8:45</td>
                    <td>Assemble in 2nd Floor Foyer</td>
                    </tr>
                    <tr>
                    <td>9:00</td>
                    <td>Sessions begin</td>
                    </tr>
                    <tr>
                    <td>10:50</td>
                    <td>Break</td>
                    </tr>
                    <tr>
                    <td>11:10</td>
                    <td>Sessions Resume</td>
                    </tr>
                    <tr>
                    <td>13:00</td>
                    <td>Sessions End</td>
                    </tr>
                    </tbody>
                    </table>
                  </div>
                </div>
<!--								<div class="row">
                  <center><a href="/img/pe/schedule.pdf" class="button cta">Download PDF</a></center>
                </div> -->
            </div>
        </section>
		</article>
	</main>
{{ partial "footer.html" . }}
