main {
    .hi{
      font-size: 5em;
    }
    .home-section {
        padding: 0 0 2.5vh 0;
        a.home-page-item-link {
            border-bottom: none;
        }
        h1.home-section-heading {
            font-size: 2.25em;
            span.emoji {
                padding-left: 0.35em;
            }
        }
        .grid-item {
            margin-bottom: 2em;
            .grid-item-preview {
                text-align: left;

                &.travel-item-preview {
                    height: 150px;
                    background: center center no-repeat;
                    background-size: cover;
                    filter: brightness(0.80);
                }
            }
            &:hover {
                transform: none;
                .grid-item-preview {
                    box-shadow: $box-shadow;
                }
            }
            h2.grid-item-title {
                font-size: 1.5em;
                text-align: left;
                padding: 0.2em 0 0.2em 15px !important;
                &.press-item-title {
                    font-size: 1.2em;
                }
                &.places-item-title {
                    .country {
                        color: $medium-light-text;
                    }
                }
            }
            div {

                &.tag {
                    padding: 3% 0 3% 0;     
                    margin-top: 5%;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    color: #aaa;
                    border-top: 1px solid #e9ebee;
                    text-transform: uppercase;
                    font-size: 0.7em;
                    letter-spacing: 0.5px;
                    text-align: center;
                }
            }
            p {
                &.grid-item-description {
                    font-size: 75%;
                    padding: 0 0 0.2em 15px !important;
                    margin-top: 0;
                }
                &.grid-item-link {
                    margin: 0.1em 0;
                }
                &.grid-item-date {
                    &.press-item-date, &.places-item-date {
                        margin: 0.25em 0 0 0;
                        color: $medium-light-text;
                    }
                }
                &.grid-item-short-description {
                    &.press-item-extract {
                        margin: 0.5em 0;
                        font-size: 1em;
                    }
                }
            }
            ul.tags {
                padding: 5% 0 0 0;
                li.tag {
                    display: inline-block;
                    color: $medium-light-text;
                }
            }
            &.reading-list-item {
                .reading-list-item-author {
                    margin: 0.1em 0;
                    font-size: 1.1em;
                    color: $medium-light-text;
                }
            }
        }
    }
}

@media screen and (max-width: 1025px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    main {
        .home-section {
            .grid-item {
                h2.grid-item-title {
                    &.reading-list-item-title, &.press-item-title {
                        font-size: 1.2em;
                    }
                }
                &.reading-list-item {
                    .reading-list-item-author {
                        font-size: 0.9em;
                    }
                }
                p.grid-item-short-description {
                    &.press-item-extract {
                        display: none;
                    }
                }
            }
        }
    }
}
