@import 'components/flex-grid';
@import 'components/typography';
@import 'components/colors';
@import 'components/footer';
@import 'components/work';
@import 'components/project';
@import 'components/navigation';
@import 'components/home';
@import 'components/buttons';
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

body {
    font-family: Europa, sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2em;
    line-height: 1.75;
    color: $body-text;
    margin: 0;
    padding: 0;
}

a {
    color: $body-text;
    text-decoration: none;
    border-bottom: 2px solid $grey-accent;
    transition: all 0.3s ease;
    &:hover {
        border-color: $body-text;
    }
    &.button{
      display: inline;
      font-family: Europa, sans-serif;
      padding: 13.5px 30px;
      text-align: center;
      border: 1.5px solid $body-text-dark;
      border-radius: 6px;
      cursor: pointer;
      margin: 20px 10px;
      font-weight: 800;
      letter-spacing: 0.3px;

      &.cta{
        margin-left: 10px;
        background: $body-background-dark;
        color: #FFF;
      }
    }
}

blockquote {
    background: lighten($grey-accent, 5%);
    border-left: 5px solid $grey-accent;
    padding: 1.5em 1.5em 1.5em 3em;
    margin: 0;
}

.centered {
    margin: 0 auto;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.green{
  background-color: #008000;
}
section {
    padding: 6.5vh 0;
    &.grey {
        background: #F7F7F7;
        padding: 2%;
    }
    &#intro {
        padding: 6.5vh 0;
        font-family: 'EB Garamond';

        div.major {
          display: block !important;
        }

        h1 {
            margin-top: 0;
            font-size: 1.2em;
            &.hi{
              font-size: 1.8em;
              font-weight: 400;
              margin-bottom: 0;
              color: $body-background-dark;
            }

            &.project-title {
              font-family: Europa, sans-serif;
              font-weight: 800;
              font-size: 2.5em;
              margin-bottom: 0;
              padding: 5% 0 0 0;
            }
        }

        p {
          &.sts {
            font-family: Europa, sans-serif;
            margin: 0;
          }
        }
        h2 {
            font-size: 1em;
            font-weight: 400;
            margin-top: 0.25em;
            &:last-of-type {
                margin-bottom: 0;
            }
            &.more{
              font-size: 1.2em;
            }
            &.grey {
              margin: 0;
              font-weight: 500;
              color: #aaa;
            }
        }

        a {
          &.cta {
            background: #555;
            border: none !important;

            &:hover {
              background: #000;
            }
          }
          &.button {
            width: 7em;
            margin: 20px 0;
            display: inline-block;
            border: 1.5px solid #aaa;

            &.mar {
              margin-left: 20px;

              &:hover
              {
                border: 1.5px solid #777;
              }
            }
          }
        }
    }
    &#portfolio {
        padding-top: 2.5vh;
    }

    &.project-intro {
      padding: 12vh 0 !important;
      font-family: 'Europa', sans-serif;
      color: #fff;
      text-shadow: 0 1px 40px rgba(0, 0, 0, 0.45);

        h1 {
          &.project-title {
            padding: 10% 0 0 0;
          }
        }
    }
}

@media screen and (max-width: 768px) {
  a {
    &.button {
        margin-left: 0 !important;
    }
  }

  section#intro h1 {
    margin-top: 0;
    font-size: 1.2em;
    &.hi{
      font-size: 1.8em;
      font-weight: 400;
      margin-bottom: 0;
      color: $body-background-dark;
    }

    &.project-title {
      font-family: Europa, sans-serif;
      font-weight: 800;
      font-size: 1.7em !important;
      margin-bottom: 0;
      padding: 5% 0 0 0;
    }
  }
}
